---
layout: default
title: 'Where did that page go?'
exclude: true
---



{% include block-page-title.html %}


<section class="section content content-basic border-bottom ">
	<div class="container">
		<div class="row justify-content-center">
				<div class="col-12 col-md-8">
						<article class="user-content">
							<h1>Sorry about this.</h1>
							<p><strong>I can&rsquo;t find the page you&rsquo;re trying to find!</strong></p>
							<a>Maybe I can interest you in one of the projects below? Just <a href="/contact" title="Send Isral Duke a message.">send me a message</a>.</p>
						</article>
				</div>
		</div>
	</div>
</section>
<section class="section content">
	<div class="row no-gutters">
		{% assign projects = (site.projects | sort: 'date') | reverse %}
				{% for project in projects %}
				<article class="col-12 col-sm-6 col-lg-2 mb-0">
					<a href="{{site.url}}{{project.url}}" class="card listing-item" title="see {{include.title}}">
						<img class="img-fluid" src="{{site.url}}/assets/images/projects/{{project.thumb}}" alt="Image of {{project.imagealt}}">
						<div class="card-body">
							<h2 class="card-title h4 mb-0">{{project.title}}</h2>
						</div>
					</a>	
				</article>
		{% endfor %}
	</div>
</section>
{% include block-employment.html %}
{% include block-skills.html     %}
{% include block-education.html  %}