---
layout: default
---



{% include block-page-title.html %}
<section class="section site-title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="h1">Designer. <br class="d-block d-md-none"/><small>UX. Interaction. Graphic. UI.</small></h1>
			</div>
		</div>
	</div>
</section>

<section class="section content content-basic border-bottom ">
	<div class="container">
		<div class="row justify-content-center">
				<div class="col-12 col-md-8">
						<article class="user-content">
							<h1>404</h1>
							<p><strong>Page not found :(</strong></p>
							<p>The requested page could not be found.</p>
						</article>
				</div>
		</div>
	</div>
</section>
{% include block-employment.html %}
{% include block-skills.html     %}
{% include block-education.html  %}