$grid-gutter-width: 20px;

$spacer: 20px !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: ($spacer * 1),
		5: ($spacer * 1.25),
		6: ($spacer * 1.5),
		7: ($spacer * 1.75),
		8: ($spacer * 2),
		9: ($spacer * 2.25),
		10: ($spacer * 2.5),
		11: ($spacer * 2.75),
		12: ($spacer * 3),
		13: ($spacer * 3.25),
		14: ($spacer * 3.5),
		15: ($spacer * 3.75),
		16: ($spacer * 4),
		17: ($spacer * 4.25),
		18: ($spacer * 4.5),
		19: ($spacer * 4.75),
		20: ($spacer * 5),
		21: ($spacer * 5.25),
		22: ($spacer * 5.5),
		23: ($spacer * 5.75),
		24: ($spacer * 6),
		25: ($spacer * 6.25),
		26: ($spacer * 6.5),
		27: ($spacer * 6.75),
		28: ($spacer * 8),
		29: ($spacer * 8.25),
		30: ($spacer * 8.5),
		31: ($spacer * 8.75),
		32: ($spacer * 9),
		33: ($spacer * 9.25),
		34: ($spacer * 9.5),
		35: ($spacer * 9.75),
		36: ($spacer * 10),
		37: ($spacer * 10.25),
		38: ($spacer * 10.5),
		39: ($spacer * 10.75),
		40: ($spacer * 11),
  ),
  $spacers
);

$enable-responsive-font-sizes:                true;

$font-family-sans-serif:      Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              1.125rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.375;
$h6-font-size:                $font-size-base * 1.25;

$headings-font-family:        Inter;
$headings-font-weight:        900;

$font-weight-light:           '300' /* 300 */;
$font-weight-normal:          '400' /* 400 */;
$font-weight-bold:            '700' /* 600 */;
$font-weight-bolder:          '900' /* 700 */;

// color systems

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$azure:#0082BB;
$violet:#952D98;
$scarlet:#E00034;
$gold:#F5B400;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
	"dark":       $dark,
	"azure":	  $azure,
	"violet":     $violet,
	"scarlet":	  $scarlet,
	"gold":       $gold
  ),
  $theme-colors
);




$blue-lighter:#00B0FC;
$blue-darker:#00557A;
$body-color: #555555;
$headings-color: $black;

$brand-gradient-0: linear-gradient(135deg, rgba(0,130,187,0) 0%, rgba(149,45,152,0) 50%, rgba(224,0,52,0) 100%);
$brand-gradient-1: linear-gradient(135deg, rgba(0,130,187,1) 0%, rgba(149,45,152,1) 50%, rgba(224,0,52,1) 100%);

// Pagination

$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color:                  $azure;
$pagination-bg:                     $white !default;
$pagination-border-width:           1px;
$pagination-border-color:           $azure;


$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $azure;
$pagination-hover-border-color:     $azure;

$pagination-active-color:           $white;
$pagination-active-bg:              $azure;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;







