<section class="section listing articles">
	<div class="listing-item-main-wrap" style="background-image: url('/assets/images/photo-image.png');">
		<div class="listing-item-main ">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-10 col-md-6">
						<!-- @import "/partials/blocks/image" -->
					</div>
					<div class="col-10 col-md-6">
						<h2 class="h2">Item Title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris turpis magna, fringilla eget congue a, vulputate vel felis. Fusce hendrerit urna in lectus tristique nec commodo est luctus.</p>
						<!-- @import "/partials/blocks/btn-secondary" -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="listing-items">
		<div class="container">
			<div class="row">
				<!-- @import "/partials/blocks/card-item" -->
				<!-- @import "/partials/blocks/card-item" -->
				<!-- @import "/partials/blocks/card-item" -->
			</div>
		</div>	
	</div>
</section>

			