<section class="section content content-basic border-bottom ">
	{{ if image }}
		<div class="overlay-pin bg-image" style="background-image: url('{{assets:image}}{{glide:image preset="thumbsm"}}{{/assets:image}}');">
			<div class="overlay-content bg-image-overlay-color-white">
			</div>
		</div>
	{{ /if }}
	<div class="container {{ if image }} offset-vertical {{/if }} {{ if !image }} pt-6 {{ /if }}">
		{{ if image }}
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<img class="img-fluid " src="{{assets:image}}{{glide:image preset="project"}}{{/assets:image}}" alt="{{assets:image}}{{alt}}{{/assets:image}}">
				</div>
			</div>
		{{ /if }}
		{{ if excerpt || tags }}
			<div class="row justify-content-center">
				{{ if excerpt }}
				<div class="col-12 col-md-8">
					<h3 class="h3 leadin text-blue-darker mb-2">{{ excerpt }}</h3>
				</div>
				{{ /if }}

				
				{{ if tags }}
					<div class="col-10 col-md-8">
						<p class="muted"><em>{{tags}}{{title}}{{ if last }}, {{ /if }}{{/tags}}</em></p>
					</div>
				{{ /if }}	
			</div>
		{{ /if }}
		{{ if content }}
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<article class="user-content">
						{{ content }}
					</article>
				</div>
			</div>
		{{ /if }}
	</div>
</section>