<section class="section projects-random border-bottom  py-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 text-blue-darker text-center">Random Projects</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {{collection from="projects" limit="2" sort="random"}}
            <div class="col-10 col-sm-6 col-lg-5">
                <a href="{{url}}" title="See {{title}}" class="link-thumbnail">
                    <!-- make the images 0 opacity but use the image as the background. on hover, do a transition of the background-position -->
                    {{assets:image}}
                    <img class="img-fluid " src="{{glide:image preset="thumbrg"}}" alt="{{alt}}">
                    {{/assets:image}}
                    <h3 class="h5 d-none">{{title}}</h3>
                </a>
            </div>
            {{/collection}}
        </div>
    </div>
</section>