<section class="section education border-bottom">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-12">
				<h2 class="h2 text-blue-darker">Education</h2>
			</div>
		</div>
		<div class="row justify-content-center align-items-top">
			{% for education in site.data.education %}
			<div class="col-12 col-sm-10 col-md-5">
				<div class="row">
					<div class="col-4">
						<img class="img-fluid " src="{{site.url}}{{ education.logo }}" alt="Logo for {{ education.institution  }} where Isral Duke took courses.">
					</div>
					<div class="col-8">
						<h3 class="h4">{{ education.name. }}</h3>
						<h4 class="h5">{{ education.institution }}</h4>
						<p>{{ education.year }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
