<section class="section references border-bottom  py-2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="h2 mb-2 text-white">References</h2>
			</div>
		</div>
	</div>
	<div class="listing-items">
		<div class="container">
			<div class="row justify-content-center ">
				{{ relate:references }}
				<div class="col-12 col-sm-8 col-lg-6">
					{{partial:snippets/card-item-wide excerpt="{job_title}" pass="Contact on LinkedIn"}}
				</div>
				{{ /relate:references }}
			</div>
		</div>
	</div>
</section>