<section class="section employment-history border-bottom  py-4 text-center">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-10">
				<h2 class="h2 text-blue-darker">Employment History</h2>
			</div>
		</div>
		<div class="row align-items-center">
			{% for employment in site.data.employment %}
			<div class="col-6 col-md-2">
				{% if employment.url %}
					<a href="{{employment.url}}" title="Isral Duke worked at {{employment.title}}" class="link-thumbnail" target="_blank">
				{% else %}
					<a title="Isral Duke worked at {{employment.title}}, site is no longer available" class="link-thumbnail" target="_blank">
				{% endif %}	
					<img class="img-fluid employer-logo" src="{{site.url}}/assets/images/employerlogos/{{employment.logo}}" alt="Isral Duke worked at {{employment.title}}. Logo for {{employment.title}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
