<section class="section site-description">
	<h2 class="d-none">{{seo_description}}</h2>	
	<div class="site-sections">
		<a href="/digital" class="site-section site-section-link" title="See Digital works by Isral Duke">
			<img class="img-fluid img-project " src="" alt="">	
			<h3 class="h4">Digital</h3>
		</a>
		<a href="/print" class="site-section site-section-link" title="See Print works by Isral Duke">
			<img class="img-fluid img-project " src="" alt="">	
			<h3 class="h4">Print</h3>
		</a>
		<a href="/illustration" class="site-section site-section-link" title="See Illustration works by Isral Duke">
			<img class="img-fluid img-project " src="" alt="">	
			<h3 class="h4">Illustration</h3>
		</a>
		<a href="/brand" class="site-section site-section-link" title="See Brand works by Isral Duke">
			<img class="img-fluid img-project " src="" alt="">	
			<h3 class="h4">Brand</h3>
		</a>
	</div>
</section>