{% assign roles      = page.employment_context %}
{% assign employment = site.employment %}
<section class="section border-bottom  py-4">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-10 col-md-4 text-center">
					<h2 class="h2 text-blue-darker">Work Context</h2>
					<p class="p">Great work is done in great places.</p>
				</div>
			</div>
			<div class="row justify-content-center align-items-center">
			{% for role in roles %}
				{% for employer in employment %}
					{% if role == employer.eid %}
				<div class="col-10 col-md-4">
					<img class="img-fluid employer-logo" src="{{site.baseurl}}/assets/images/employerlogos/{{employer.logo}}" alt="{{ employer.title }} Logo. Isral Duke worked here when this project was produced.">
				</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		</div>
	</section>
