<article class="card card-wide listing-item">
	<div class="row justify-content-center align-items-stretch">
		<div class="col-12 col-sm-6 col-md-5">
			{{ if image }}
				{{assets:image}}
					<img class="img-fluid" src="{{glide:image preset='thumbsm'}}" alt="{{alt}}">
				{{/assets:image}}
			{{ else }}
				{{ if linkedin_headshot }}
					<img class="img-fluid w-100" src="{{ linkedin_headshot }}" alt="{{alt}}">
				{{ /if }}
			{{ /if }}
		</div>
		<div class="col-12 col-md-7 flex-column justify-content-between align-self-end">
			<div class="card-block p-1 p-md-0">
				<h3 class="card-title h5 mt-0">{{title}}</h3>
				<p class="card-text">{{excerpt}}</p>
			</div>
			<div class="card-footer">
				<a href="{{ linkedin }}" class="btn btn-footer" title="see {{ title }}" target="_blank">{{pass}}</a>
			</div>
		</div>
	</div>
</article>