<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109520377-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-109520377-1');
	</script>
	<title>{% if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="{{site.title}}, {{site.description}}">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="canonical" href="{{page.url | replace:'index.html','' | prepend: site.url}}">
	{% include favicons.html %}
	{% include social-sharing.html %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
