<h1 class="sr-only">{{site.title}}</h1>
<nav class="nav nav-top d-flex justify-content-between fixed-top" role="navigation" aria-label="main navigation">
	<a title="Go to Homepage" href="{{site.baseurl}}/" class="logo">
		{%- include isral-duke-logo.html -%}
	</a>
	<ul role="list" class="m-0 list-unstyled d-flex">
		{%- include nav-items.html -%}
	</ul>
</nav>
<header class="d-none">
	<h2 class="">Designer.</h2>
	<p>UX <span class="">Designer</span>. Interation <span class="">Designer</span>. UI <span class="">Designer</span>. Graphic <span class="">Designer</span>.</p>
</header>