<header class="header">
	<a href="{{ site.url }}" title="Go to the Homepage" class="logo-site-link" tabindex="0">
		<img src="{{site.url}}/assets/images/logos/isral-duke-design-logo.svg" alt="Logo for {{ site.title }}" class="logo-site">
	</a>
	<button id="navbuttontop" role="button" class="btn btn-nav btn-nav-top">
		<span class="fas fa-bars"></span> Menu
	</button>
	<nav id="navtop" class="navigation navigation-top">
		<ul class="nav-list nav-list-top">
			{% include nav-items.html %}
			<li class="nav-list-item last">
				<button id="navbuttontopClose" class="btn btn-block">
					<span class="fas fa-angle-up"></span>
				</button>
			</li>
		</ul>
	</nav>
</header>
