{% for page in site.pages %}
	{% unless page.exclude %}
	{% if page.title %}
	<li class="nav-list-item">
		<a href="{{site.url}}{{page.url}}" class="d-flex justify-content-center align-items-stretch nav-list-item-link" title="Go to {{page.title}}" tabindex="0">
			{{ page.title }}
		</a>
	</li>
	{% endif %}
	{% endunless %}
{% endfor %}
{% comment %}
<li class="nav-list-item">
	<a href="{{site.baseurl}}/blog/" class="d-flex justify-content-center align-items-stretch nav-list-item-link" title="" tabindex="0">Blog</a>
</li>
{% endcomment %}