<nav id="navtop" class="navigation navigation-top">
	<ul class="nav-list nav-list-top">
		{{partial:snippets/nav-items}}
		<li class="nav-list-item social">
			<a href="https://linkedin.com/in/isralduke" class="nav-list-item-link" target="_blank" tabindex="0">
				<span class="fab fa-linkedin-in"></span>
			</a>
		</li>
		<li class="nav-list-item social">
			<a href="https://twitter.com/isralduke" class="nav-list-item-link" target="_blank" tabindex="0">
				<span class="fab fa-twitter"></span>
			</a>
		</li>
	</ul>
</nav>