{%- for item in site.data.navigation -%}
<li role="listitem" class="nav-link nav-link-text">
	<a href="{{site.baseurl}}{{ item.link }}" {% if item.highlight %}style="border: 1px solid red;"{% endif %} {% if item.link == page.url %}class="active"{% endif %} title="Go to {{page.title}}.">
		{{ item.name }}
	</a>
</li>			
{%- endfor -%}
<li role="listitem" class="nav-link nav-link-icon social-icon">
	<a class="" href="https://twitter.com/isralduke" title="See Isral Duke on Twitter" target="_blank">{%-  include icon-twitter.html -%}</a>
</li>
<li role="listitem" class="nav-link nav-link-icon social-icon">
	<a class="" href="https://www.linkedin.com/in/isralduke" title="Connect with Isral Duke on Linked In" target="_blank">{%-  include icon-linkedin.html -%}</a>
</li>