<div class="pager pager-pictoral">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			{{ collection:previous in="{in}" limit="1"}}
				{{ if no_results }}
				{{ else }}
					<div class="col-6">
						<div class="row justify-content-start align-items-center">
							<div class="col-6 ">
								<a href="{{url}}" title="" class="link-thumbnail">
									{{assets:image}}
									<img class="img-fluid " src="{{glide:image preset="thumbsm"}}" alt="{{alt}}">
									{{/assets:image}}
								</a>
							</div>
							<div class="col-6 ">
								{{partial:snippets/btn-secondary pass="Previous"}}
							</div>
						</div>
					</div>
				{{/if}}
			{{/collection:previous}}
			{{ collection:next in="{in}" limit="1"}}
				{{ if no_results }}
				{{else}}
					<div class="col-6 ml-auto">
						<div class="row justify-content-start align-items-center">
							<div class="col-6 text-right">
								{{partial:snippets/btn-secondary pass="Next"}}
							</div>
							<div class="col-6 text-right">
								<a href="{{url}}" title="" class="link-thumbnail">
									{{assets:image}}
									<img class="img-fluid " src="{{glide:image preset="thumbsm"}}" alt="{{alt}}">
									{{/assets:image}}
								</a>
							</div>
						</div>
					</div>
				{{/if}}
			{{/collection:next}}
		</div>
	</div>
</div>