<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@isralduke" />
<meta name="twitter:creator" content="@isralduke" />
<meta property="og:url" content="{{ site.url }}{{page.url}}" />
<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
{% if page.project %}
	<meta property="og:description" content="{{page.excerpt}} A project by {{site.title}}. {{site.description}} | {{site.title}}" />
{% else %}
	<meta property="og:description" content="{{if page.excerpt}}{{page.excerpt}} {{else}}{{site.description}} | {{site.title}}{{/if}}" />
{% endif %}
{% if page.project %}
	<meta property="og:image" content="{{site.url}}{{page.images[0]}}" />
{% else %}
	<meta property="og:image" content="{{site.url}}{{page.images[0].image.url}}" />
{% endif %}



