@charset "utf-8";

@import 'isralduke/fonts/inter/inter.scss';
@import 'isralduke/scss/baguetteBox.min.css.scss';
@import 'isralduke/scss/_variables.scss';
@import 'isralduke/scss/bootstrap-4.3.1/scss/bootstrap.scss';
@import 'isralduke/scss/forms';
@import 'isralduke/scss/buttons';
@import 'isralduke/scss/custom';
// @import 'scss/grid';