@import url("https://use.typekit.net/uay6gsf.css");
//@import url('<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">');
@import 'minima/variables';
@import 'minima/vendor/bootstrap/bootstrap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css';
@import 'minima/custom';
