@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Regular.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Italic.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Italic.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Bold.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-BoldItalic.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Black.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-BlackItalic.woff2") format("woff2"),
       url("https://isralduke-site-files.s3.amazonaws.com/fonts/inter/Inter-BlackItalic.woff") format("woff");
}