$white:    #fff !default;
$black:    #000 !default;
$green:    #03BA85;
$orange: #F5B400;
$grey-silver: #ededed;
$grey-lightest: #757575;
$grey-light:    #4f4f4f;
$grey-text:     #262626;
$grey-dark:     #4a4a4a;
$orange: #F5B400 !default;
$blue:    #0082BB !default; 
$blue-lightest: lighten($blue, 5%);
$blue-lighter: lighten($blue, 15%);
$blue-darker : darken($blue, 15%);
$purple:  #952D98 !default; 
$purple-lightest: lighten($purple, 5%);
$purple-lighter: lighten($purple, 15%);
$purple-darker : darken($purple, 15%);
$red:     #E00034 !default; 
$red-lightest: lighten($red, 5%);
$red-lighter: lighten($red, 15%);
$red-darker : darken($red, 15%);
$orange:  #F5B400 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "purple":     $purple,
  "red":        $red,
), $colors);

$brand-gradient-soft: linear-gradient(-45deg, $red 0%, $purple 52%, $blue 100%);

$primary:       $blue !default;
$secondary:     $red-lighter !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
), $theme-colors);
// stylelint-enable


$font-family-sans-serif: 'ratio','IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family: 'ratio','IBM Plex Sans Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family-larger: 'ratio','IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-weight:        700 !default;

$font-size-base: 1.25rem;
$text-muted: #595959;

$btn-border-radius:  19px;

$speed:  250ms;
$easing: ease-out;
