<!DOCTYPE html>
<html class="{{ page.htmlClass | default: "background-light" }}" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.typekit.net/uay6gsf.css">
	<link rel="stylesheet" href="{{site.baseurl}}{{ "/assets/css/style.css" | relative_url }}">
	<title>{% if page.title %} {{page.title}} | {% endif %} {{ site.title }}</title>
	{% include favicons.html %}
	{% include social-sharing.html %}
</head>
<body class="d-flex flex-column {{page.htmlClass}}">
{% include header.html %}
{{ content }}
{% include footer.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.trigger').click(function(){
			var newImg = $(this).find('img').attr('src');
			$('#img0').attr('src',newImg);
		});
	});
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109520377-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-109520377-1');
</script>
</body>
</html>