---
layout: default
---
<section class="section site-title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="h1">Designer. <br class="d-block d-md-none"/><small>UX. Interaction. Graphic. UI.</small></h1>
			</div>
		</div>
	</div>
</section>
<section class="section site-description">
	<h2 class="d-none">{{site.description}}</h2>	
	<div class="site-sections">
		{% for project in projects %}
		<a href="{{site.url}}/projects/" class="site-section site-section-link" title="See Digital works by Isral Duke">
			<img class="img-fluid img-project " src="{{site.url}}/assets/images/projects/sql-saturday-app-concept-designed-by-isral-c-duke-t.jpg" alt="Preview image for digital projects by Isral Duke">	
			<h3 class="h4">Digital</h3>
		</a>
		{% endfor %}
	</div>
</section>
