---
layout: default
---

<main class="home pb-4 pb-md-0">
	<h2 class="h2 sr-only">Highlighted Projects</h2>
	<div class="row no-gutters">
	{% assign posts = site.posts | where: 'project' , 'project' | where: 'featured' , 'featured' %}
	{% for post in posts %}
		{% assign image = post.images[0] %}
		{% assign project_Type = post.project_type %}
		{% assign title = post.title %}
		{% assign url = post.url %}
		{% include project-preview.html %}
		{% if    forloop.index == 2 %}
			{% include value-proposition.html text='I design and I can code and talk to product owners.' href='projects' btn='See More Projects' %}
		{% elsif forloop.index == 5 %}
			{% include value-proposition.html text='I am informed by UX research and ethical design.' href='articles' btn='See My Thinking' %}
		{% endif %}
	{% endfor %}
	</div>
</main>