---
layout: default
---
<section class="section site-title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="h1">Designer. <br class="d-block d-md-none"/><small>UX. Interaction. Graphic. UI.</small></h1>
			</div>
		</div>
	</div>
</section>
<section class="section site-description">
	<h2 class="d-none">{{site.description}}</h2>	
	<div class="site-sections">
		{% for project in site.projects %}
    {% if project.project_featured %}
		<a href="{{site.baseurl}}{{project.url}}" class="site-section site-section-link" title="See Digital works by Isral Duke">
			<img class="img-fluid img-project " src="{{site.baseurl}}/assets/images/projects/{{project.thumb}}" alt="Preview image for {{project.title}}">	
			<h3 class="h4">{{project.title}}</h3>
		</a>
    {% endif %}
		{% endfor %}
	</div>
</section>
