---
layout: default
---
<section class="section content content-basic border-bottom ">
    <div class="overlay-pin bg-image" style="background-image: url('{{site.url}}/assets/images/blog/{{ page.image }}');">
        <div class="overlay-content bg-image-overlay-color-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="h2 ">{{page.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pt-6 ">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <img class="img-fluid w-100" src="{{site.url}}/assets/images/blog/{{ page.image }}" alt="{{ post.imagealt }}">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <article class="user-content">
                    {{ content }}
                </article>
            </div>
        </div>
    </div>
</section>
{% include block-employment.html %}
{% include block-skills.html     %}
{% include block-education.html  %}
