---
layout: default
---
<section class="section content content-basic border-bottom ">
    <div class="" style="background-image: url('{{site.url}}/assets/images/blog/{{ page.image }}');">
        <div class="bg-image-overlay-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h2 ">{{page.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 col-lg-7">
                <img class="img-fluid w-100" src="{{site.url}}/assets/images/blog/{{ page.image }}" alt="{{ post.imagealt }}">
            </div>
            <div class="col-12 col-md-8 col-lg-5">
                <article class="user-content">
                    {{ content }}
                </article>
            </div>
        </div>
    </div>
</section>
{% include block-employment.html %}
{% include block-skills.html     %}
{% include block-education.html  %}
