---
layout: default
---
{% assign projects = site.posts | where: 'project','project'%}
{% assign image = projects.first.images[0] %}
{% include big-title-space.html image=image %}
<main class="">
	<div class="container-fluid mt-4">
		<div class="row">
			{% assign projects = site.posts | where:'project','project' | sort: 'date' | reverse %}
			{% for project in projects %}
			{% assign image = project.images[0] %}
			<div class="col-12 col-md-6 col-lg-4 mb-4">
				<article class="project project-review">
					<a title="See images from {{project.title}}." href="{{site.baseurl}}{{project.url}}" class="">
						<h3 class="h3 sr-only">{{project.project_type}}</h3>
						<h4 class="h4 sr-only">{{project.title}}</h4>
						<img class="img-fluid shadow-small" src="{{site.baseurl}}{{image}}" alt="{{alt}}" id='tall{{id}}' loading="lazy" />
					</a>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
