---
layout: default
---
<main class="pt-4 pb-20 pb-md-8">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-12 mt-md-4">
				<div class="media">
					<h2 class="badge bg-black border border-white text-white mt-2 mr-2">{{page.project_type|upcase}} </h2>
					<div class="media-body">
						<h3 class="h3 text-white">{{page.title}}</h3>
					</div>
				</div>
			</div>
			<div class="col-12">
				<a class="btn btn-light mb-4" href="{{site.baseurl}}{{page.url | replace: "projects", "articles" }}">Read Project Details</a>
			</div>
		</div>
		<div class="row gallery">
			<div class="col-12 {% if page.images.size > 1 %} col-md-8 col-lg-9 {% endif %} mb-4">
				{% assign image = page.images[0] %}
				<img class="img-fluid shadow-small" src="{{site.baseurl}}{{image}}" alt="{{alt}}" id='img0' />
			</div>
			{% if page.images.size > 1 %} 
				<div class="col-12 col-md-4 col-lg-3">
					<div class="row gallery">
						{% for image in page.images limit:3 %}
							<div class="col-6 col-md-12 mb-2">
								<a href="{{url}}" data-caption="Image showing {{page.title}} in a real life setting.">
									<img class="img-fluid shadow-small" src="{{site.baseurl}}{{image}}" alt="{{alt}}" id='img{{forloop.index}}' />
								</a>	
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</main>